
# build output
# dependencies
# environment variables
# generated types
# jetbrains setting folder
# logs
# macOS-specific files
.DS_Store
*.bak
.astro/
.env
.env.production
.idea/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
test-results/
playwright-report/

# image backups (local-only)
public/widgets/*.backup
